:root {
  line-height: 1.5;

  color: var(--light-green);
  background-color: var(--light-green);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --dark-green: hsl(180, 14%, 20%);
  --light-green: hsl(180, 29%, 50%);
  --bg-white: hsl(180, 52%, 96%);
  --gray-text: hsl(180, 8%, 52%);
  --custom-font: "League Spartan", sans-serif;
  --pink-bg: hsl(311.6, 100%, 88.8%);
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: var(--custom-font);
  background-color: black;
}

#app {
  margin: 0 auto;
  text-align: center;
  max-width: 1350px;
  background: var(--bg-white);
}

#filtered-tags {
  background-color: white;
  display: flex;
  padding: 20px 2rem;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 80%;
  border-radius: 5px;
  box-shadow: 0px 5px 10px 0px hsl(180, 29%, 50%, 0.4);
  position: relative;
  top: -30px;

  @media (width < 1000px) {
    flex-wrap: wrap;
  }
}

button {
  border-radius: 2px;
  border: 1px solid transparent;
  font-weight: 800;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  background-color: var(--light-green);
  color: var(--bg-white);
  height: 100%;
  width: 2rem;
}
button:hover {
  background-color: var(--dark-green);
}

p {
  font-family: var(--custom-font);
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: var(--gray-text);
}

h2,
h3 {
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

header {
  background: url("/assets/bg-header-desktop.svg") no-repeat center/cover;
  background-color: var(--light-green);
  height: 156px;
}

hr {
  height: 0px;
  display: none;
  @media (max-width: 1000px) {
    display: block;
    height: 1px;
    border: none;
    background-color: rgb(138, 117, 138);
  }
}

#card-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  place-items: center;
  padding: 5rem 0 5rem 0;
  min-height: 725px;
  margin-top: -2rem;

  @media (width < 1000px) {
    gap: 4rem;
  }
}

.card {
  box-shadow: 0px 5px 10px 0px hsl(180, 29%, 50%, 0.4);
  border-radius: 10px;
  display: flex;
  width: 80%;
  padding: 1rem 1rem 1rem 2rem;
  background-color: white;
  height: 150px;

  @media (width < 1000px) {
    flex-direction: column;
    height: auto;
    position: relative;
  }
}

.card:has(.featured) {
  box-shadow: 0px 5px 10px 0px hsl(180, 29%, 50%, 0.4),
    -5px 0px 0px var(--light-green);
}

.card-left {
  display: flex;
  width: inherit;
  gap: 1.5rem;
  align-items: center;

  @media (max-width: 1000px) {
    position: relative;
    margin-bottom: 1rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }
}

.clear:hover {
  cursor: pointer;
  font-weight: 600;
  text-decoration: underline;
}

.container {
  background-color: var(--bg-white);
  position: relative;
}

.dot {
  width: 3px;
  height: 3px;
  background-color: lightgray;
  border-radius: 50%;
  display: flex;
  align-self: center;
}

.featured {
  background-color: hsl(0, 0%, 0%);
  color: whitesmoke;
  border-radius: 200px;
  padding: 5px 10px 0px 10px;
  font-weight: 700;
  display: inline-block;
  align-content: center;
}

.hidden {
  display: none !important;
}

.info {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.language {
  display: flex;
  align-self: center;
  gap: 1rem;
}

.location-time {
  color: var(--gray-text);

  p {
    font-weight: 500;
    display: flex;
    gap: 1rem;
  }
}

.logoDiv {
  display: flex;
  align-items: center;
}

.name {
  display: flex;
  gap: 1rem;

  p {
    color: var(--light-green);
    font-size: 1.25rem;
  }
}

.new {
  background-color: var(--light-green);
  color: rgb(255, 255, 255);
  border-radius: 200px;
  padding: 5px 10px 0px 10px;
  font-weight: 700;
  display: inline-block;
  align-content: center;

  p {
    font-size: 1.25rem;
    color: var(--light-green);
  }
}

.position {
  color: black;
  font-weight: 700;
  font-size: clamp(1rem, 1.25rem, 1.5rem);
}

h3:hover {
  color: var(--light-green);
  cursor: pointer;
}

.selected-tags {
  display: flex;
  background-color: var(--bg-white);
  padding: 5px;
  color: var(--light-green);
}

.skills {
  padding: 5px;
  background-color: var(--bg-white);
  color: var(--light-green);
  border-radius: 5px;
}

.skills:hover {
  color: var(--bg-white);
  background-color: var(--light-green);
  cursor: pointer;
  border-radius: 5px;
}

.tags {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.tag-sec {
  display: flex;
  align-items: center;
}

@media (max-width: 1000px) {
  header {
    background: url("/assets/bg-header-mobile.svg") no-repeat bottom/cover;
    background-color: var(--light-green);
  }

  .card-left {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .card-left .logo {
    margin-top: -60px;
  }

  .info {
    gap: 0.5rem;
  }

  .language {
    flex-wrap: wrap;
    margin-top: 0.5rem;
    display: flex;
    gap: 1.5rem;
    width: clamp(40vw, 80%, 350px);
    align-self: flex-start;
  }

  .location-time {
    font-size: clamp(0.8rem, 1.2rem, 1.25rem);
  }

  .name {
    gap: 3rem;
  }

  .name p {
    font-size: 1.5rem;
  }

  .newFeature {
    display: flex;
    gap: 1.25rem;
  }

  .skills {
    padding: 10px;
  }
}

@media (max-width: 500px) {
  .name {
    flex-wrap: wrap;
    gap: 1rem;
  }
}

